<div class="load" id="loader">
  <div class="one"></div>
  <div class="two"></div>
  <div class="three"></div>
</div>
<div id="jai-3d">
  <img src="/assets/tscircuitglow.png" alt="ts circuit" />
  <div class="main-heading">Encryptid '21</div>
  <p>July 24th - July 25th</p>
  <div id="clockdiv">
    <div>
      <span class="days">00</span>
      <div class="smalltext">DAYS</div>
    </div>
    <div>
      <span class="hours">00</span>
      <div class="smalltext">HR</div>
    </div>
    <div>
      <span class="minutes">00</span>
      <div class="smalltext">MIN</div>
    </div>
    <div>
      <span class="seconds">00</span>
      <div class="smalltext">SEC</div>
    </div>
  </div>
  <div>
    <a href="https://t11e.us/encryptid/format" target="_blank">
      <button class="btn">Format</button>
    </a>
    <a href="#guidelines">
      <button class="btn">Guidelines</button>
    </a>
    <a href="https://t11e.us/encryptid/server" target="_blank">
      <button class="btn">Discord</button>
    </a>
  </div>
</div>
<div id="guidelines">
  <div class="rules-head">Guidelines</div>
  <ul class="rules">
    <li>
      The dashboard will contain 15 questions assigned to individual stocks of
      15 companies. The questions will be accessible based on the funds
      available in your wallet.
    </li>
    <li>
      Lead confirmations will be on at specific timings which will be iterated
      on the discord server.
    </li>
    <li>
      The number of tries to enter an answer is unlimited, therefore don't
      hesitate to try out any value which you think is the answer.
    </li>
    <li>
      There is no specified answer format: a string "Foo Bar" or "foobar" will
      be interpreted the same way.
    </li>
    <li>
      We have a zero-tolerance policy for cheating, and anyone found doing so
      will be disqualified immediately.
    </li>
    <li>
      If you're new to the concept of cryptic hunts, check out the learning
      resource
      <a
        href="https://techsyndicate.club/resources/cryptic"
        target="_blank"
        style="color: #16e16e"
        >here</a
      >.
    </li>
  </ul>
</div>
<script>
  window.addEventListener("load", () => {
    const loader = document.getElementById("loader");
    loader.style.opacity = "0";
    loader.style.visibility = "hidden";
  });
</script>
