@import url("https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.18.0/inter.css");

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Inter", "sans-serif";
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 4.5vw;
}

nav ul {
  height: 3vw;
  margin-right: 8vw;
  display: flex;
  align-items: center;
  list-style: none;
}

nav ul li:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

nav ul a {
  color: white;
  font-size: 1.1vw;
  position: relative;
}

.hover {
  margin-right: 2vw;
}

.nav-link:after,
.nav-link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2vw;
  bottom: -0.3vw;
  left: 0;
  background-color: rgb(18, 199, 96);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}

.nav-link:hover:after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

#active:after {
  transform: scaleX(1);
}

.logo {
  height: 3vw;
  width: 3vw;
  background-image: url("/assets/ts_logo.png");
  background-position: center;
  background-size: contain;
  z-index: 1;
  margin: 1vw 0vw 0vw 6vw;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  margin-right: 4.5vw;
  margin-left: auto;
  margin-bottom: -12vh;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: rgb(22, 22, 22);
  padding: 2vh 1vw;
  padding-top: 1vh;
  border-radius: 4px;
  transition: all 0.1s ease-out;
  transform: scale(0);
}

.dropdown a {
  text-decoration: none;
  color: white;
  margin: auto;
  margin-top: 1vh;
}

.pfp {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.btn {
  border: 1px solid #00ae40;
  background-color: #00ae40;
  border-radius: 3px;
  color: white;
  font-size: 1vw;
  font-family: "Inter", "sans-serif";
  padding: 0.8vh 1.8vw;
  transition: all 0.2s ease-out;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(18, 199, 96);
}

#hrule {
  background-color: rgb(71, 71, 71);
  color: rgb(71, 71, 71);
  border: none;
  height: 0.1vh;
}

.lb-nav {
  margin-right: 1vw;
}

.profile-nav {
  font-size: 1.1vw;
}

::-webkit-scrollbar {
  width: 0.3vw;
}

::-webkit-scrollbar-track {
  background-color: rgb(22, 22, 22);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

/* Loader */

.load {
  height: 100vh;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: black;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition-duration: 1s;
}

.load div {
  width: 2vw;
  height: 2vw;
  background-color: #16e16e;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 5px;
  animation-name: up-and-down;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.load .one {
  animation-delay: 0.1s;
}
.load .two {
  animation-delay: 0.2s;
}
.load .three {
  animation-delay: 0.3s;
}

@keyframes up-and-down {
  to {
    opacity: 0.2;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }
}

/* Loader Ends */

/* Index Page Start */

#jai-3d {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#jai-3d img {
  width: 32vw;
}

.main-heading {
  margin-top: 1vw;
  font-weight: bold;
  font-size: 2.5vw;
  color: rgb(22, 225, 110);
}

#jai-3d p {
  font-size: 1.2vw;
  font-weight: 500;
  color: white;
}

#jai-3d div a {
  padding: 0vw 0.2vw;
}

#guidelines {
  width: fit-content;
  margin: auto;
}

.rules-head {
  margin-top: 1vh;
  font-size: 2vw;
  font-weight: bold;
}

.rules {
  font-size: 1.2vw;
  width: 60vw;
  margin-left: -1.5vw;
}

.rules li {
  padding-top: 2vh;
}

footer {
  background-color: #111;
  position: relative;
  padding: 0.1vw 0vw;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 10vh;
  text-align: center;
  color: rgba(102, 102, 102, 0.904);
  font-weight: 500;
  font-size: 1vw;
}
/* Index Page Ends */

/* Profile Page Start */

.profile-container {
  margin-left: 17vw;
  margin-top: 4vw;
}

.profile-container p {
  font-size: 1.1vw;
}

.profile-heading {
  font-size: 2.3vw;
  color: rgb(22, 225, 110);
  font-weight: 600;
}

.pfp-big {
  margin-top: 2vh;
  margin-bottom: 3vh;
  border-radius: 50%;
}

.profile-small-heading {
  margin-top: 3vh;
  font-size: 1.2vw;
  color: rgb(22, 225, 110);
  font-weight: 500;
}

.profile-information {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
}

.profile-box {
  margin-top: 2.5vh;
  flex-basis: 50%;
}

.labels {
  font-size: 1.2vw;
  font-weight: 500;
  color: rgb(22, 225, 110);
}

.values {
  margin-top: 0.4vh;
  font-size: 1vw;
  font-weight: 500;
  padding: 1vh 0vw;
  color: white;
  border-radius: 4px;
}

.profile-completion {
  margin-top: 6vh;
}

.form-row-1 {
  margin-top: 5vh;
  margin-bottom: 3vh;
  display: flex;
  width: 50vw;
}

.form-row-1 div {
  flex-basis: 50%;
}

.profile-completion input {
  margin-top: 1vh;
  padding: 1.2vh 0.8vw;
  border: 1px solid white;
  border-radius: 4px;
  width: 20vw;
  color: white;
  font-family: "Inter", "sans-serif";
  font-size: 1vw;
  background-color: transparent;
}

input:focus {
  outline: none;
}

.input-box {
  display: flex;
  flex-direction: column;
}

.profile-transaction-container {
  margin-top: 4vh;
  margin-left: 17vw;
}

.transaction-information {
  border: 1px solid rgb(22, 225, 110);
  margin-top: 4vh;
  padding: 0.5vw 2vw 1.5vw 2vw;
  width: 65vw;
  border-radius: 4px;
}

/* Profile Page Ends */

/* Leaderboard Page Start */

.leaderboard-container {
  margin-left: 17vw;
  margin-top: 4vw;
}

.searchbar {
  margin-top: 2vw;
  width: 20vw;
  border-bottom: 1px solid #00ae40;
}

.searchbar svg {
  width: 0.9vw;
  height: 0.9vw;
  margin-right: 1vw;
}

.searchbar input {
  width: 17vw;
  margin-bottom: 1.2vh;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1vw;
}

table {
  text-align: center;
  margin-top: 4vh;
  width: 64vw;
  border-collapse: collapse;
  font-size: 1.2vw;
  font-weight: 500;
}

table thead tr {
  background-color: #28a745;
  text-align: center;
}

td {
  padding: 0.5vw;
}

tr:nth-child(even) {
  background-color: #333;
}

/* Leaderboard Page End */

/* Admin Page Start */

.admin-cards-box {
  margin-top: 4vw;
  display: flex;
  justify-content: start;
  width: 50vw;
}

.admin-btn {
  border-radius: 3px;
  transition-duration: 0.2s;
  margin-right: 1vw;
}

.admin-btn:hover {
  background-color: rgb(18, 199, 96);
}

.clickable:hover {
  cursor: pointer;
  background-color: rgb(18, 199, 96);
}

.admin-profile-information {
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
}

.admin-profile-box {
  margin-top: 2.5vh;
  flex-basis: 33.3%;
}

/* Admin Page Ends */

/* Logs Page Start */

.admin-logs-container {
  margin-left: 11vw;
  margin-top: 4vw;
}

.all-logs {
  width: 75vw;
}

/* Logs Page Ends */

/* Levels Page Start */

.level-profile-information {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
}

.level-box {
  margin-top: 4vh;
  padding: 2vw 2vw 1.5vw 2vw;
  width: 50vw;
  border: 1px solid #00ae40;
  border-radius: 4px;
}

#addForm .input-box input {
  margin-top: 1vh;
  padding: 1.2vh 0.8vw;
  border: 1px solid white;
  border-radius: 4px;
  width: 20vw;
  color: white;
  font-family: "Inter", "sans-serif";
  font-size: 1vw;
  background-color: transparent;
}

/* Levels Page End */

/* Dashboard Page Start */

.description {
  margin-top: 0vw;
  width: 60vw;
}

.description a {
  color: #16e16e;
}

.levels {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0vw;
  width: 80vw;
}

.level {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(22, 225, 110);
  margin-top: 4vh;
  padding: 1vw;
  padding-right: 0.3vw;
  padding-bottom: 0vw;
  border-radius: 5px;
  margin-right: 2vw;
  flex-basis: 26%;
}

.completed {
  opacity: 0.4;
}

.level-header {
  display: flex;
  flex-wrap: wrap;
  width: 20vw;
}

.level-heading {
  width: 50%;
}

.level-name {
  color: #16e16e;
  font-size: 2vw;
  font-weight: bold;
}

.level-players {
  width: 50%;
  text-align: right;
  margin-top: 0.5vw;
}

.level-players i {
  font-size: 1.3vw;
  color: #16e16e;
}

.level-players span {
  font-size: 1.4vw;
  font-weight: bold;
  margin-left: 0.4vw;
}

.level-price-change {
  font-size: 1vw;
}

.level-graph img {
  width: 20vw;
  height: 4vw;
}

.level-info-card {
  background-color: #26282b;
  opacity: 0.6;
  border-radius: 5px;
  width: 5vw;
  height: 5vw;
}

.level-info h3 {
  font-size: 1.1vw;
}

.level-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.level-info-div {
  flex-basis: 33.3%;
  margin-top: -0.5vw;
  margin-bottom: 1.5vw;
}

.level-info-label {
  font-size: 0.8vw;
  color: #16e16e;
}

.level-details-column {
  margin-right: 2.5vw;
}

.dash-btn {
  background-color: #00ae40;
  color: white;
  font-size: 1vw;
  font-family: Inter, sans-serif;
  width: 5vw;
  height: 2vw;
  border: none;
  border-radius: 4px;
  text-align: center;
  margin-top: 0.2vw;
  transition: all 0.2s ease-out;
}

.button i {
  font-size: 0.8vw;
  margin-left: 0.1vw;
  margin-top: -1vw;
}

.button button:hover {
  cursor: pointer;
  transform: translateX(0.5vh);
}

#disabled {
  opacity: 0.2;
  transition: none;
}

#disabled:hover {
  cursor: initial;
  transform: none;
}

/* Clock Timer  */

#clockdiv {
  color: #fff;
  display: inline-block;
  text-align: center;
  font-size: 1.3vw;
  margin-bottom: 1.2vw;
  margin-left: 0.1vw;
}

#clockdiv > div {
  padding: 0.2vw;
  border-radius: 3px;
  display: inline-block;
}

#clockdiv div > span {
  padding: 0.5vw;
  border-radius: 3px;
  /* border: 3px solid #16e16e; */
  background: #333;
  display: inline-block;
}

.smalltext {
  padding-top: 0.2vw;
  font-size: 0.8vw;
  text-align: center;
}

/* Clock Timer End */

/* Play Page Start */

.play-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 55vw;
  margin-top: 2vw;
}

.play-left {
  width: 60%;
  border-radius: 4px;
  text-align: center;
}

.play-right {
  width: 30%;
  border: 1px solid rgb(22, 225, 110);
  padding: 1vw;
  border-radius: 5px;
  margin-left: 3vw;
  margin-top: -4.5vw;
}

.play-right .stat-header {
  display: flex;
  flex-wrap: wrap;
}

.stat-header span {
  font-size: 1.5vw;
  font-weight: bold;
}

.stat-header i {
  font-size: 1.2vw;
  color: #16e16e;
  margin-left: 65%;
  margin-top: 0.4vw;
}

.stat-header i:hover {
  cursor: pointer;
}

.stat {
  margin-top: 1vw;
}

.stat-label {
  font-size: 1vw;
  color: #16e16e;
}

.stat-value {
  font-size: 1.5vw;
  font-weight: bold;
}

.play-left input {
  margin-top: 1.5vw;
  padding: 1.2vh 0.8vw;
  border: 1px solid white;
  border-radius: 4px;
  width: 26vw;
  color: white;
  font-family: "Inter", "sans-serif";
  font-size: 1vw;
  background-color: transparent;
}

.play-left input:focus {
  outline: none;
}

.play-left button {
  border: 1px solid #00ae40;
  background-color: #00ae40;
  border-radius: 4px;
  color: white;
  font-size: 1vw;
  font-family: "Inter", "sans-serif";
  padding: 1.2vh 0.7vw;
  transition: all 0.2s ease-out;
}

.play-left button:hover {
  cursor: pointer;
  background-color: rgb(18, 199, 96);
}

#question {
  word-break: break-all;
}

#question p {
  text-align: left;
}

#question a {
  color: #16e16e;
}

#question img {
  width: 15vw;
  height: auto;
  margin: auto;
}
